body, h1, h2, h3, h4, h5, h6, hr, div, p,blockquote,dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea,th, td, img{border: none;margin: 0;padding: 0;}
body{-webkit-tap-highlight-color:rgba(0,0,0,0);}
ul, ol, li{list-style:none;}
a {text-decoration:none;}
